{{>admin-header}}
<div class="text-center" style="margin-top: 5%;">
 <img src="/images/no-user-found.avif" width="20%" class="img-fluid">
</div>
<div class="text-center mt-4">
 <h4>No Orders Found !</h4>
</div>