<div class="authentication-wrapper authentication-basic container mt-5 pt-5">
  <div class="row">
  <div class="offset-1 col-10 offset-2 col-sm-8 offset-3 col-md-6 offset-3 col-lg-6">
    <div class="card "
      style="border-radius:10px ;border: 1px solid;box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">

          </span>
          <span class="app-brand-text demo text-body fw-bolder mb-5">Evoca Admin-Panel</span>
          </a>
        </div>
        <!-- /Logo -->

        <form id="formAuthentication" name="adminform" onsubmit="return adminlogin()" class="mb-3 mt-4"
          action="/admin/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Admin Email</label>
            <input type="text" class="form-control" id="adminEmail" name="adminEmail" placeholder="Enter your email"
              value="{{admdata.adminEmail}}" />
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Admin Password</label>
              <a href="" class="link-line">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input type="password" id="adminPassword" class="form-control" name="adminPassword"
                placeholder="Enter your password" aria-describedby="password" value="{{admdata.adminPassword}}" />
            </div>
          </div>
          <div class="mb-3">
            <p class="text-danger" name="admerr" id="admerr">{{admerr}}</p>
          </div>
          <div class="mb-3 mt-5  offset-4 col-4 offset-4 col-md-4 offset-4 col-lg-4">
            <button class="btn btn-dark d-grid w-100 " type="submit">Log in</button>
          </div>
        </form>


      </div>
    </div>
    <!-- /Register -->
  </div>
  <!-- Register -->
  </div>



</div>