{{>admin-header}}
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="container-fluid my-5">
      <div class="container-fluid banner-admin-image-home"
        style="background-image: url('/banner-images/{{banner.image}}.jpg')">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
          <div class="hero__text ms-5 mb-5 " style="position: relative;top: 200px;">
            <h6>Evoca Collection</h6>
            <h2>{{banner.title}}</h2>
            <a href="#"><button class="mt-5 ms-5 shop_now_index-2">Shop now</button></a>
          </div>
        </div>
      </div>
    </div>
</section>