<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: rgb(189, 188, 188) 1px solid;">
    <div class="container-fluid">
    <img src="/images/evoca-logo.jpg" onclick="location.href='/admin'" alt="">
        <button class="navbar-toggler button-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5  mb-lg-0 gap-4" style="font-size: larger;">
                <li class="nav-item">
                    <div class="d-flex">
                    <div class="dropdown">
                        <a class="nav-link active" aria-current="page" href="#">Products</a>
                        <div class="dropdown-content tex-center">
                            <a href="/admin/admin-productslist">All Products</a>
                            <a href="/admin/admin-addproducts">Add Product</a>
                        </div>
                    </div>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/admin-userslist">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/admin-orderlist">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/admin-category">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/admin-addcoupon">Coupon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/admin-getBanner">Banner</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto me-5 pe-5 mb-2 mb-lg-0 ">
                <div class="d-flex">
                    <div class="dropdown  mt-1 ms-5 gap-3">
                        Admin
                        <div class="dropdown-content tex-center">
                            <a href="/admin/admin-profile">Profile</a>
                            <a href="/admin/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </ul>

        </div>
    </div>
</nav>