<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: rgb(189, 188, 188) 1px solid;">
  <div class="container-fluid" style="background-color: #ffffff;">
    <img src="/images/evoca-logo.jpg" onclick="location.href='/'" alt="">
    <button class="navbar-toggler button-toggle" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span><i id="bar" class="fa-solid fa-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5  mb-lg-0 gap-4 d-flex" style="font-size: larger;">
        {{#if search}}
        <div class="d-flex  ms-auto d-block d-lg-none ">
          <input class="form-control me-2 " oninput="smallSizeData(this)" type="text" placeholder="Search..."
            aria-label="Search" style="border-radius: 25px;">
          <div id="searchSmallResult" class="small_search_result"></div>
          <p class="search"><i class="fa-solid fa-magnifying-glass text-dark ms-1"
              style="position: relative;top: 7px;"></i></p>
        </div>
        {{/if}}
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/shop">Shop</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/user-orderlist">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/contact-us">Contact</a>
        </li>
      </ul>
      {{#if search}}
      <div class="d-flex  ms-auto me-auto d-none  d-lg-flex  ">
        <input class="form-control me-2" oninput="sendData(this)" type="search" placeholder="Search..."
          aria-label="Search" style="border-radius: 25px;">
        <div id="searchResult" class="search_result_style"></div>
        <p class="search"><i class="fa-solid fa-magnifying-glass text-dark ms-1"
            style="position: relative;top: 8px"></i></p>
      </div>
      {{/if}}
      <ul class="navbar-nav ms-auto me-auto mb-1  ">
        <div class="d-flex">
          {{#if User}}
          </script>
          <div class="dropdown  mt-2 " style="margin-left: 47px;">
            <a class="nav-link active " aria-current="page" style="font-size: 18px;" href="">{{user.userName}}</a>
            <div class="dropdown-content tex-center" style="z-index: 10;">
              <a href="/user-profile">Profile</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
          <li class="nav-item d-inline mt-2" style="margin-left: 35px;">
            <a class="nav-link active" aria-current="page" href="/user-cart">
              <i class="fa-solid  fa-cart-shopping position-relative" style="font-size: 20px;"><span
                  class="badge  position-absolute top-0  start-100 badge-pos"><small
                    style="font-size: 100;">{{count}}</small></span></i></a>
          </li>
          <li class="nav-item d-inline " style="margin-top: 6px;margin-left: 40px;">
            <a class="nav-link active" aria-current="page" href="/user-wish"><i class="fa-regular  fa-heart"
                style="font-size: 20px;"></i></a>
          </li>
          {{else}}
          <div class="dropdown ms-4 mt-2 ps-4">
            <span style="font-size: 18px;">Guest</span><i class="ms-3 fa-regular fa-user dropbtn search" style="font-size: 20px;"></i>
            <div class="dropdown-content text-center">
              <a href="/login">Login</a>
            </div>
          </div>
          {{/if}}
        </div>
      </ul>
    </div>
  </div>
</nav>
<script>
  function sendData(e) {
    const searchResult = document.getElementById('searchResult')
    fetch('getSearch', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ payload: e.value })
    }).then(res => res.json()).then(data => {
      const payload = data.payload
      searchResult.innerHTML = ''
      if (e.value == '') {
        searchResult.style.visibility = 'hidden'
        return
      }
      if (payload.length < 1) {
        searchResult.style.visibility = 'visible'
        searchResult.innerHTML = '<p class="d-flex p-3 align-item-center justify-content-center">No result found !</p>'
        return
      } else {
        payload.forEach((item, index) => {
          searchResult.style.visibility = 'visible'
          searchResult.innerHTML += `<div class="d-flex p-3 align-item-center justify-content-center" onclick="window.location.href='/product-details/${item._id}'" >
          <img src = '/product-images/${item.images[0]}.jpg' width='100px'><p class='p-2'>${item.title}</p></div>`
        })
        return
      }
    })
  }
  function smallSizeData(e) {
    const searchSmallResult = document.getElementById('searchSmallResult')
    fetch('getSearch', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ payload: e.value })
    }).then(res => res.json()).then(data => {
      const payload = data.payload
      searchSmallResult.innerHTML = ''
      if (e.value == '') {
        searchSmallResult.style.visibility = 'hidden'
        return
      }
      if (payload.length < 1) {
        searchSmallResult.style.visibility = 'visible'
        searchSmallResult.innerHTML = '<p class="d-flex p-3 align-item-center justify-content-center">No result found !</p>'
        return
      } else {
        payload.forEach((item, index) => {
          searchSmallResult.style.visibility = 'visible'
          searchSmallResult.innerHTML += `<div class="d-flex p-3 align-item-center justify-content-center" onclick="window.location.href='/product-details/${item._id}'" >
          <img src = '/product-images/${item.images[0]}.jpg' width='100px'><p class='p-2'>${item.title}</p></div>`
        })
        return
      }
    })
  }
</script>