<footer class="footer" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/images/evoca-logo.jpg"
                                style="border-top-right-radius: 10px;border-bottom-left-radius: 10px;" width="100%"
                                height="100%" alt=""></a>
                    </div>
                    <p></p>
                    <a href="#"><img src="/images/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#" class="link-line">Clothing Store</a></li>
                        <li><a href="#" class="link-line">Trending Shoes</a></li>
                        <li><a href="#" class="link-line">Accessories</a></li>
                        <li><a href="#" class="link-line">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>For Enquery</h6>
                    <ul>
                        <li><a href="#" class="link-line">Contact Us</a></li>
                        <li><a href="#" class="link-line">Payment Methods</a></li>
                        <li><a href="#" class="link-line">Delivary</a></li>
                        <li><a href="#" class="link-line">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>