<style>
  .page_404 {
    padding: 40px 0;
    background: #fff;
  }

  .four_zero_four_bg {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .four_zero_four_bg h1 {
    font-size: 80px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .contant_box_404 {
    margin-top: -50px;
  }
</style>

<section class="page_404 my-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-12 col-sm-offset-1  text-center">
          <h1 class="text-center ">404 </h1>
          <img src="/images/404.png" class="four_zero_four_bg img-fluid">

          <div class="contant_box_404 my-2">

            <p>the page you are looking for not avaible!</p>
            <button onclick="history.back(-1)" class=" link-line model-btn">Go back</button>
            {{#if ad}}
            <button onclick="location.href='/admin'" class="ms-3 link-line model-btn">Go to Home</button>
            {{else}}
            <button onclick="location.href='/'" class="ms-3 link-line model-btn">Go to Home</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>