{{>user-header}}
<div class="container">
    <h1 class="text-center  mt-md-0 mt-5 pb-md-3">Who We Are</h1>
    <div class="row mt-md-0 mt-5 text-center shadow mb-3">
        
        <div class="col-6 col-md-3 pt-3">
            <img src="/images/Pranav.jpg" class="about-img" alt="" width="40%" style="border-radius: 200px;">
            <h5 class="pt-2">Pranav C</h5>
            <h6>Founder</h6>
        </div>
        <div class="col-6 col-md-3 pt-3">
            <img src="/images/vishnu.jpg" class="about-img" alt="" width="40%" style="border-radius: 200px;">
            <h5 class="pt-2">Vishnu </h5>
           <h6>Co-founder</h6>

        </div>
        <div class="col-6 col-md-3 pt-3">
            <img src="/images/hanish.jpeg" class="about-img" alt="" width="40%" style="border-radius: 200px;">
            <h5 class="pt-2">Muhammed Hanish </h5>
             <h6>Marketing Head</h6>
        </div>
        <div class="col-6 col-md-3 pt-3">
            <img src="/images/sahil.jpg" class="about-img" alt="" width="40%" style="border-radius: 200px;">
            <h5 class="pt-2">Sahil Saleem</h5>
            <h6>Sales Manager</h6>
        </div> 

        
    </div>
    <div class="row shadow mb-4 pb-3 gap-md-2 ">
        <div class="col-md-8 offset-md-2 text-center mt-4 shadow">
           "With the trendiest, freshest, and most unique styles from across India and the world, Classy invites you to express your personal style fearlessly, and with a confidence and optimism that cannot be easily shaken."   
        </div>
        <div class="col-md-5 mt-5 offset-md-1 shadow">
            <h5>Capsule Collections</h5>
            <p class="">If there’s an occasion to express your personal style, we’ve got a capsule collection to match. Shopping for a specific mood, event or style story has never been easier.</p>
        </div>
        <div class="col-md-5 mt-5 shadow">
            <h5>The Indie Experience</h5>
            <p class="">Our Indie styles are literally art you can wear. They are carefully handpicked, so that only the most authentic, handcrafted pieces by artisans across the country and globe make the cut.</p>
        </div>
       
        <div class="col-md-5 mt-2 offset-md-1 shadow">
            <h5>#CLASSYtoday</h5>
            <p class="">Our daily trend spotlight that lets you in on what’s hip and happening, and what you should be carting right now. Like they say, a trend each day keeps the blues away!</p>
        </div>
        <div class="col-md-5 mt-2 shadow">
            <h5>#CLASSYrecommends</h5>
            <p class="">From the hailstorm of trends coming down on us every season, we only recommend the ones guaranteed to put you on the hit list. Watch out for these regular highlights.</p>
        </div>
    </div>
</div>
{{>user-footer}}