<div class="" style="position: relative;">
  <div class="row " style="margin-top: 10%;">
    <div class="offset-3 col-lg-6 col-md-6 col-sm-8 offset-none col-12">
      <div class="card"
        style="border-radius: 10px;border: 1px solid;box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <span class="app-brand-text demo text-body fw-bolder mb-2">Evoca</span>
            </a>
          </div>
          <!-- /Logo -->
        </div>
        <form name="post_reset" onsubmit="return validateReset()" action="/post-resetForPass-form" method="post">
          <div class="p-4">
            <input type="email" name="email" value="{{email}}" hidden>
            <label for="email" class="form-label ">New Password</label>
            <input type="password" name="newPass" class="form-control mt-2" id="newPassFeild"
              style="border-radius:0% ;border: 1px solid;box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;"
              placeholder="Enter your New password" />
            <input type="password" name="newConfirmPass" class="form-control mt-4" id="newConfirmPassFeild"
              style="border-radius:0% ;border: 1px solid;box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;"
              placeholder="Confirm password" />
            <div class="text-center p-3">
              <button type="submit" class="model-btn "
                style="border-bottom-left-radius: 10px; border-top-right-radius: 10px;">Reset</button>
            </div>
        </form>
      </div>
      <p class="text-danger fs-6 text-center" id="veriferr" name="veriferr">{{veriferr}}</p>
    </div>
  </div>

</div>
<!-- Register -->