<div id="form_verification" class="container-fluid justify-content-center mt-5 pt-5">
  <div class="authentication-wrapper authentication-basic container-p-y">

    <!-- Register -->
    <div class="card mx-auto" style="border: black 1px solid ; max-width: 400px; border-radius: 10px; box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center mb-3">
          <span class="app-brand-text demo text-body fw-bolder mb-5">Evoca</span>
        </div>
        <!-- /Logo -->
        <span class="mb-2">OTP Verification</span>

        <form id="formAuthentication" name="otpcode" class="mb-3 mt-3" action="/forgot-otp-verification" method="POST">
          <div class="mb-2">
            <input type="text" name="otp" class="form-control mt-3" style="border-radius: 0%; box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;" id="otp" placeholder="Enter OTP Verification Code" value="{{userCode.otp}}">
          </div>
          <div class="mb-3 ms-4">
            <p class="text-danger">{{otpvarerr}}</p>
          </div>
          <div class="mb-4 box text-center">
            <button class="btn btn-dark btn-block log-btn" style="" type="submit">Confirm OTP</button>
            <p class="text-center text-muted mt-3 mb-0">Re-send OTP? <a href="/forgot-password" style="text-decoration: none;">Re-send</a></p>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
