<div class=" d-flex d-md-none justify-content-end pt-3">
            <div class="btn-group d-block d-md-none">
                <button type="button" class="btn-c  dropdown-toggle" style="border: none;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                    Filter : 
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a href="/filter/category/Jacket" class="dropdown-item" type="button">Jacket</a></li>
                    <li><a href="/filter/category/Jeans" class="dropdown-item" type="button">Jeans</a></li>
                    <li><a href="/filter/category/Kurta" class="dropdown-item" type="button">Kurta</a></li>
                    <li><a href="/filter/category/Shirt" class="dropdown-item" type="button">Shirt</a></li>
                    <li><a href="/filter/category/Sport Shoes" class="dropdown-item" type="button">Sport Shoes</a></li>
                    <li><a href="/filter/category/T Shirt" class="dropdown-item" type="button">T Shirt</a></li>
                    <li><a href="/filter/brand/HIGHLANDER" class="dropdown-item" type="button">HIGHLANDER</a></li>
                    <li><a href="/filter/brand/HRX" class="dropdown-item" type="button">HRX</a></li>
                    <li><a href="/filter/brand/Kook N Keech" class="dropdown-item" type="button">Kook N Keech</a></li>
                    <li><a href="/filter/brand/Mango" class="dropdown-item" type="button">Mango</a></li>
                    <li><a href="/filter/brand/PUMA" class="dropdown-item" type="button">PUMA</a></li>
                    <li><a href="/filter/brand/Powerlook" class="dropdown-item" type="button">Powerlook</a></li>
                    <li><a href="/filter/brand/Red Tape" class="dropdown-item" type="button">Red Tape</a></li>
                    <li><a href="/filter/brand/ZARA" class="dropdown-item" type="button">ZARA</a></li>
                   <li> <a class="cate-list text-secondary" id="1000" href="/filter/price/1000">less than 1000</a></li>
                    <li><a class="cate-list text-secondary" id="1000-2000" href="/filter/price/1000-2000">1000 - 2000</a></li>
                    <li><a class="cate-list text-secondary" id="2000-3000" href="/filter/price/2000-3000">2000 - 3000</a></li>
                    <li><a class="cate-list text-secondary" id="3000-4000" href="/filter/price/3000-4000">2000 - 3000</a></li>
                   <li> <a class="cate-list text-secondary" id="4000-5000" href="/filter/price/4000-5000">2000 - 3000</a></li>
                   <li> <a class="cate-list text-secondary" id="5000" href="/filter/price/5000">Above 5000</a></li>


                </ul>
            </div>
        </div>